body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 56px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
    line-height: 1.0;
    display: flex;
}

.horizontalimage {
    width: 60%; 
    height: 60%;
    margin-left: -70px; 
    margin-top: 120px; 
    margin-right: 35px;
}

.verticalimage {
    width: 44%; 
    height: 44%;
    margin-left: -70px; 
    margin-top: 80px; 
    margin-right: 35px; 
    margin-bottom: 45px;
}



ul.hr {
    margin: 0;
    padding: 4px;
   }
   ul.hr li {
    display: inline;
    margin-right: 150px;
    margin-left: 150px;
    padding: 3px;
   }

.intro {
	width: 100%;
	height: 100vh;
	background: white;
}

.secondground {
	width: 100%;
	height: 100vh;
	background: black;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.thirdground {
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 33px;
    line-height: 1.5;
}

.fourthground {
    width: 100%;
    height: 100vh;
    font-size: 33px;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    background:black;
    color: black;
    border-spacing: 2px;
   }
   td, th {
    background: white;
    padding: 5px;
   }